<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django REST Framework</title>
    <style>
        h2{text-align: center;
           color: darkblue
        }
        a{font-style: italic}
        .host_name{
            font-style: italic;
            color: darkblue;
        }
        .var_name{
            font-style: italic;
            font-weight: bold ;
            color: darkblue;
        }
    </style>
</head>

<body>

<h2>Сортировка блогов по желаемой целевой аудитории</h2>
<p>
    Дана модель канала youtube, статистики канала.
    Статистика хранится в процентах (поле <span class="var_name">viewer_percentage</span>),
    например канал1, os linux, 30%. Что означает, что 30 процентов
    подписчиков канала использует операционную систему linux.
    Конкретные значения именований статистик не важны, можно
    к ним относиться как тегам.
</p>
<p>
    На вход подается набор данных, характеризующих целевую
    аудиторию заказчика. Например
</p>
<ul>
    <li>'country_code' = 'RU'</li>
    <li>'age_group' = '13-25'</li>
    <li>'gender' = 'male'</li>
    <li>'device_type' = 'mobile'</li>
    <li>'os' = 'A'</li>
</ul>
<p>
    Нужно отсортировать каналы youtube от максимального значения
    целевой аудитории к минимальному. Целевая аудитория будет
    получаться как view_rate (количество просмотров на канале) *
    процент людей из россии * процент людей от 13 до 25 лет *
    процент женщин * процент с мобильных телефонов * процент
    пользователей с андроид.
</p>
<p>
    Можно предложить любое решение. Можно менять структуру данных,
    использовать чистый SQL, ORM, предложить дополнительные индексы
    считаемые в периодических задачах...
</p>
<p>
    Реализовать простое приложение django + django rest framework.
    Реализовать на основе созданных моделей:
</p>

<ul>
    <li>cортировку по целевой аудитории;</li>
    <li>фильтрацию по количеству <span class="var_name">view_rate -- Youtube</span>
        (диапазон значений);</li>
    <li>авторизовать доступ только к тем, <span class="var_name">Youtube</span>
        объектам, у которых <span class="var_name">id</span> четный.</li>
</ul>

<h2>Решение</h2>

<h4>Сортировка по целевой аудитории</h4>
<p>
    Модельная база данных заполенна на 4 канала, 4 страны, 3 возрастных группы, 2 гендера,
    3 вида девайсов, 4 вида операционных систем. Возможные значения аргументов для выполения
    запроса следующие:
</p>
<p>
    <span class="var_name">country_code -- YoutubeGeoAnalytics
</p>
<ul>
    <li>'RU'</li>
    <li>'US'</li>
    <li>'CA'</li>
    <li>'DE'</li>
</ul>
<p>
    <span class="var_name">age_group -- YoutubeAgeGroupAnalytics</span>
</p>
<ul>
    <li>'13-25'</li>
    <li>'26-50'</li>
    <li>'51-80'</li>
</ul>
<p>
    <span class="var_name">gender -- YoutubeSexAnalytics</span>
</p>
<ul>
    <li>'male'</li>
    <li>'female'</li>
</ul>
<p>
    <span class="var_name">device_type -- YoutubeDeviceAnalytics</span>
</p>
<ul>
    <li>'PC'</li>
    <li>'tablet'</li>
    <li>'mobile'</li>
</ul>
<p>
    <span class="var_name">os -- YoutubeOsAnalytics</span>
</p>
<ul>
    <li>'W'</li>
    <li>'L'</li>
    <li>'A'</li>
    <li>'O'</li>
</ul>


<p> Адрес для запроса <span class="host_name">hostname/channel/</span><br>
    Если аргумент отсуствуте в запросе или назван некорректно, по в расчете рейтинга процент по нему
    принимается равный 1, то есть как все варианты. При некорректном значении аргумента,
    запрос не обрабатывается и возвращатся значание ошибки. При пустом запросе - возвращается
    результат последнего расчета рейтинга.
</p>

<h4>Фильтрацию по количеству <span class="var_name">view_rate -- Youtube</span> (диапазон значений)</h4>
<p>
    Адрес для запроса <span class="host_name">hostname/channel_filter/</span><br>
    Аргумент запроса <span class="var_name">range</span>,
    допустимые значения в диапазоне <span class="var_name">0-2500</span>
</p>

<h4>Авторизация доступа к <span class="var_name">Youtube</span> объектам, у которых <span class="var_name">id</span>
    четный</h4>

<p>
    Адрес для запроса <span class="host_name">hostname/channel/n</span><br>
    где <span class="var_name">n</span> - значание <span class="var_name">id</span>
    объекта в базе данных
</p>

<p><a href="https://github.com/kv2709/youtube-rating.git" target="_blank">
    Исходники проекта на GIT</a></p>
</body>
</html>