<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django REST Framework</title>
</head>
<body>

<h2>Сортировка блогов по желаемой целевой аудитории</h2>
<p>
Дана модель канала youtube, статистики канала.
Статистика хранится в процентах (поле viewer_percentage),
например канал1, os linux, 30%. Что означает, что 30 процентов
подписчиков канала использует операционную систему linux.
Конкретные значения именований статистик не важны, можно
к ним относиться как тегам.
</p>
<p>
На вход подается набор данных, характеризующих целевую
аудиторию заказчика. Например
</p>
<ul>
    <li>'country_code' = 'CA'</li>
    <li>'age_group' = '26-50'</li>
    <li>'gender' = 'male'</li>
    <li>'device_type' = 'PC'</li>
    <li>'os' = 'W'</li>
</ul>
<p>
Нужно отсортировать каналы youtube от максимального значения
целевой аудитории к минимальному. Целевая аудитория будет
получаться как view_rate (количество просмотров на канале) *
процент людей из россии * процент людей от 13 до 25 лет *
процент женщин * процент с мобильных телефонов * процент
пользователей с андроид.
</p>
</body>
</html>