<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django REST Framework</title>
</head>
<body>

<h2>Сортировка блогов по желаемой целевой аудитории</h2>
<p>
    Дана модель канала youtube, статистики канала.
    Статистика хранится в процентах (поле viewer_percentage),
    например канал1, os linux, 30%. Что означает, что 30 процентов
    подписчиков канала использует операционную систему linux.
    Конкретные значения именований статистик не важны, можно
    к ним относиться как тегам.
</p>
<p>
    На вход подается набор данных, характеризующих целевую
    аудиторию заказчика. Например
</p>
<ul>
    <li>'country_code' = 'RU'</li>
    <li>'age_group' = '13-25'</li>
    <li>'gender' = 'male'</li>
    <li>'device_type' = 'mobile'</li>
    <li>'os' = 'A'</li>
</ul>
<p>
    Нужно отсортировать каналы youtube от максимального значения
    целевой аудитории к минимальному. Целевая аудитория будет
    получаться как view_rate (количество просмотров на канале) *
    процент людей из россии * процент людей от 13 до 25 лет *
    процент женщин * процент с мобильных телефонов * процент
    пользователей с андроид.
</p>
<p>
    Можно предложить любое решение. Можно менять структуру данных,
    использовать чистый SQL, ORM, предложить дополнительные индексы
    считаемые в периодических задачах...
</p>
<p>
    Реализовать простое приложение django + django rest framework.
    Реализовать на основе созданных моделей:
</p>

<ul>
    <li>cортировку по целевой аудитории;</li>
    <li>фильтрацию по количеству view_rate в Youtube (диапазон значений);</li>
    <li>авторизовать доступ только к тем, Youtube объектам у которых id четный.</li>
</ul>

<h3 align="center">Решение</h3>

<h4>Сортировка по целевой аудитории</h4>
<p>
    Модельная база данных заполенна на 3 канала, 3 страны, 3 возрастных группы, 2 гендера,
    3 вида девайсов, 4 вида операционных систем. Возможные значения аргументов для выполения
    запроса следующие:
</p>
<p>
    YoutubeGeoAnalytics -- country_code
</p>
<ul>
    <li>'RU'</li>
    <li>'US'</li>
    <li>'CA'</li>
</ul>
<p>
    YoutubeAgeGroupAnalytics -- age_group
</p>
<ul>
    <li>'13-25'</li>
    <li>'26-50'</li>
    <li>'51-80'</li>
</ul>
<p>
    YoutubeSexAnalytics -- gender
</p>
<ul>
    <li>'male'</li>
    <li>'female'</li>
</ul>
<p>
    YoutubeDeviceAnalytics -- device_type
</p>
<ul>
    <li>'PC'</li>
    <li>'tablet'</li>
    <li>'mobile'</li>
</ul>
<p>
    YoutubeOsAnalytics -- os
</p>
<ul>
    <li>'W'</li>
    <li>'L'</li>
    <li>'A'</li>
    <li>'O'</li>
</ul>



<p> Адрес для запроса hostname/channel/ <br>
    Если аргумент отсуствуте в запросе или назван некорректно, по в расчете рейтинга процент по нему
    принимается равный 100, то есть как все варианты. При некорректном значении аргумента,
    запрос не обрабатывается и возвращатся значание ошибки. При пустом запросе - возвращается
    результат последнего расчета рейтинга.
</p>

<h4>Фильтрацию по количеству view_rate в Youtube (диапазон значений)</h4>
<p>
    Адрес для запроса hostname/channel_filter/ <br>
    Аргумент запроса "range", допустимые значения в диапазоне "0-2500"
</p>

<h4>Авторизация доступа к Youtube объектам, у которых id четный</h4>

<p>
    Адрес для запроса hostname/channel/n<br>
    где n - значание id объекта в базе данных
</p>
</body>
</html>